<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style>
    <h1><%= title %></h1>
    <a href="/flights">ALL FLIGHTS</a> |
    <a href="/flights/new">ADD FLIGHT</a>
  </body>
</html>
